 @import "bootstrap";

.section {
  background-color: #4B515D;
}

.card{
  color: #4B515D; border-radius: 25px; height: 450px
}

.form-group{
  height: 100px
}

.span-small{
  color: #868B94
}

.current-temp{
  color: #1C2331;
}

.temp-data{
  font-size: 1rem;
}
